html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App.js Styling */

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}


/* Home page Styling */

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-image {
  width: 50rem;
  min-width: 1032px;
  height: 43rem;
  border-radius: 2rem;
}

.buttons-and-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

.clientButton {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
}

.instructorButton {
  margin: 1rem;
  width: 12rem;
  height: 2rem;
}

/* Sign Up Forms Styling */
#signUpForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -0.2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  font-weight: 600;
}

.form-image {
  height: 10rem;
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: -.7rem;
}

.hr {
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.hr2 {
  width: 20rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-four-text-inputs {
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  margin-left: 1rem;
}

.text-inputs {
  width: 300px;
  margin-left: -5.25rem;
}

.checkbox{
  display: flex;
  flex-direction: row;
  margin-left: -2rem;
  margin-top: -1rem;
}

.checkbox-square {
  margin-top: .75rem;
  margin-right: .5rem;
}

.checkbox-text {
  font-size: .75rem;
}

.bottom-text {
  display: flex;
  flex-direction: row;
  margin-left: -2rem;
  margin-top: .5rem;
  font-size: .7rem;
}

.bottom-text-link {
  margin-top: .6rem;
  margin-left: .4rem;
  color: black;
}

.button{
  margin-left: -1rem;
}

/* Login Form Styling */
.login-image {
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
  margin-bottom: -.7rem;
}

.loginCheckbox {
  display: flex;
  flex-direction: row;
  margin-top: -.5rem;
  justify-content: center;
}

.login-checkbox-text {
  font-size: .65rem;
  margin-top: .8rem;
}

.login-text {
  display: flex;
  flex-direction: row;
  font-size: .65rem;
  margin-top: .8rem;
  justify-content: center;
}

.login-text-link {
  margin-top: .8rem;
  margin-left: .4rem;
  color: black;
  font-size: .60rem;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.login-button{
  margin-top: 1rem;
  width: 15rem;
}

.space{
  margin-left: 1rem;
}

/* Client Dashboard Styling */
.header {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.search-container {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
}

.search-image {
  height: 2rem;
  width: 2rem;
}

.search {
  border-radius: .5rem;
  height: 1.5rem;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17.5rem;
}

.user{
  display: flex;
  flex-direction: row wrap;
  margin-top: .5rem;
  margin-left: 8rem;
  font-size: small;
  display: flex;
  justify-content: center;
}

.user-image {
  height: 1.7rem;
  width: 1.7rem;
  margin-top: .5rem;
}

.username {
  margin-left: .2rem;
  margin-top: .95rem;
}

.menu-image {
  height: 5rem;
  width: 5rem;
}

.middle-section {
  text-decoration: underline;
}

.title-2 {
  margin-top: 3rem;
}

.filter {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  font-size: small;
  margin-top: -.5rem;
}

.classes-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
}

.class-card {
  border: 1px solid black;
  width: 28rem;
  height: 32.5rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.class-img {
  width: 28rem;
  border-bottom: 1px solid black;
}

.mini-section-container {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  justify-content: center;
  margin-top: 1.5rem;
  border: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mini-section {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.mini-section-2 {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.class-info {
 text-align: left;
 margin-left: 1rem;
}

.price {
  text-decoration: underline;
}

.class-signup-buttons {
  display: flex;
  justify-content: space-between;
}

.signup-button{
  margin-bottom: 3rem;
  margin-right: 1rem;
  width: 8rem;
  margin-left: 11rem;
  margin-right: 11rem;
  margin-top: 1rem;
}

.client-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: underline;
  color: black;
  font-weight: bold;
  margin-right: 8px;
}

/* Client Dashboard - Add Class Page */
.filter-bar {
  margin-top: -2.8rem;
  margin-left: .5rem;
}

.filter-input {
  margin-top: -2.8rem;
  margin-left: .5rem;
}

.sort-by {
  margin-left: 5rem;
  margin-top: 2.5rem;
  margin-right: 1rem;
  width: 10rem;
  text-decoration: underline;
}


