html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App.js Styling */

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}


/* Home page Styling */

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home-image {
  width: 50rem;
  min-width: 1032px;
  height: 43rem;
  border-radius: 2rem;
}

.buttons-and-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

.clientButton {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
}

.instructorButton {
  margin: 1rem;
  width: 12rem;
  height: 2rem;
}

/* Sign Up Forms Styling */
#signUpForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -0.2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  font-weight: 600;
}

.form-image {
  height: 10rem;
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: -.7rem;
}

.hr {
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.hr2 {
  width: 20rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-four-text-inputs {
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  margin-left: 1rem;
}

.text-inputs {
  width: 300px;
  margin-left: -5.25rem;
}

.checkbox{
  display: flex;
  flex-direction: row;
  margin-left: -2rem;
  margin-top: -1rem;
}

.checkbox-square {
  margin-top: .75rem;
  margin-right: .5rem;
}

.checkbox-text {
  font-size: .75rem;
}

.bottom-text {
  display: flex;
  flex-direction: row;
  margin-left: -2rem;
  margin-top: .5rem;
  font-size: .7rem;
}

.bottom-text-link {
  margin-top: .6rem;
  margin-left: .4rem;
  color: black;
}

.button{
  margin-left: -1rem;
}

/* Login Form Styling */

.login-image {
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
  margin-bottom: -.7rem;
}

.login-text {
  display: flex;
  flex-direction: row;
  font-size: .65rem;
  margin-bottom: .8rem;
  justify-content: center;
}


.form {
  display: flex;
  flex-direction: column;
}

.login-text-link {
  margin-top: .8rem;
  margin-left: .4rem;
  color: black;
  font-size: .60rem;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.loginCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-checkbox-text {
  font-size: .65rem;
  margin-top: .8rem;
}

.white-space {
  font-size: .65rem;
  margin-top: .8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: white;
  
}



.usernameInput {
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: solid black 1px;
}

.passwordInput {
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  font-size: 15px;
  border: solid black 1px;

}

.authCodeInput {
  border: solid black 1px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  $font-family:   "Roboto";
  font-size: 15px;

}

.login-button{
  width: 22.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ABA194;
  color: white;
  font-size: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: solid black 1px;
} 

.backgroundColor{
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
}

.bottomPage {
  padding-top: 30px;
  padding-bottom: 100%;
}
/* #49D49D
#A2C7E5  */

/* .login-image {
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
  margin-bottom: -.7rem;
}

.loginCheckbox {
  display: flex;
  flex-direction: row;
  margin-top: -.5rem;
  justify-content: center;
}

.login-checkbox-text {
  font-size: .65rem;
  margin-top: .8rem;
}

.login-text {
  display: flex;
  flex-direction: row;
  font-size: .65rem;
  margin-top: .8rem;
  justify-content: center;
}

.white-space {
  font-size: .65rem;
  margin-top: .8rem;
  color: white;
}

.login-text-link {
  margin-top: .8rem;
  margin-left: .4rem;
  color: black;
  font-size: .60rem;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.login-button{
  margin-top: 1rem;
  width: 15rem;
}  */




